<button class="setting{{#if disabled}} disabled{{else}}{{#if value}} active{{/if}}{{/if}}" data-name="{{ name }}" id="setting-{{ name }}"></button>
<label for="setting-{{ name }}">{{ label }}
<small>{{ notice }}</small></label>