<div class="wrapper-left">
    <div class="wrapper-left-content">
        <h1>{{t "amnesia.title"}}</h1>
    </div>
</div>
<div class="wrapper-right">
    <div class="wrapper-right-content">
        <form class="head-form amnesia">
            <div class="form-input">
                <input type="text" tabindex="30" class="input" name="email" placeholder="{{t "amnesia.placeholder" }}" value="{{ email }}" />
            </div>
            <input type="submit" class="button" tabindex="31" disabled="disabled" value="{{t "amnesia.button" }}" />
            <p class="notice">{{t "amnesia.notice" }}</p>
        </form>
        <div class="close-box">
            <div class="close"><span class="pseudo-link">{{t "topbox.cancel" }}</span></div>
        </div>
    </div>
</div>
