<div class="wrapper-left">
    <div class="wrapper-left-content">
        <h1>{{t "amnesia.title"}}</h1>
    </div>
</div>
<div class="wrapper-right">
    <div class="wrapper-right-content">
        <form class="head-form amnesia">
            <p class="notice password-reset">
                <strong>{{t "amnesia.result.title"}}</strong>
                {{#if email_provider}}
                    <a href="http://{{email_provider}}/" target="_blank">{{t "amnesia.result.check_email"}}</a>
                    ({{t "amnesia.result.link_hint"}})
                {{else}}
                    {{t "amnesia.result.check_email"}}.
                {{/if}}
            </p>
        </form>
        <div class="close-box">
            <div class="close"><span class="pseudo-link">{{t "topbox.cancel" }}</span></div>
        </div>
    </div>
</div>

