<div class="notice">
    <p>
        <strong>{{t "amnesia.result.title"}}</strong>
        {{#if email_provider}}
        <a href="http://{{email_provider}}/" target="_blank">{{t "amnesia.result.check_email"}}</a>
        ({{t "amnesia.result.link_hint"}})
        {{else}}
        {{t "amnesia.result.check_email"}}.
        {{/if}}
    </p>
</div>