<img src="{{image_url}}" width="78" height="78" />
<div class="radio-sticker-content">
    <h1 title="{{title}}">
        <span class="title-inner">{{title}}</span>
    </h1>
    <h2 title="{{subtitle}}">{{subtitle}}</h2>
    {{#if has_station_favorite}}
        <div class="station bookmark-station{{#if station.favorite}} favorite-station{{/if}}">{{station.title}}</div>
    {{else}}
        <div class="station">{{station.title}}</div>
    {{/if}}
</div>

{{#if has_track_favorite}}
    <div class="star{{#if track_favorite}} star-selected{{/if}}"></div>
{{/if}}