<fieldset><legend>{{day}}</legend></fieldset>
<table class="favorites">
    {{#each value}}
    <tr class="{{#if this.is_deleted}}deleted{{/if}}" data-id="{{this.id}}">
        <td class="state">{{this.time}}</td>
        <td class="content">
            <h2>{{this.title}}</h2>
            <h3>@ {{this.station_title}}</h3>
        </td>
        <td>
            <!-- buttons -->
        </td>
    </tr>
    {{/each}}
</table>