<div class="wrapper-left">
    <div class="wrapper-left-content">
        <h1>{{t "signup.title"}}</h1>
    </div>
</div>
<div class="wrapper-right">
    <div class="wrapper-right-content">
        <form class="head-form signup">
            <div class="form-input">
                <input type="text" tabindex="20" class="input" name="email" placeholder="{{t "signup.placeholder.email" }}" />
            </div>
            <div class="form-input">
                <input type="text" tabindex="21" class="input" name="password" placeholder="{{t "signup.placeholder.password" }}" />
            </div>
            <input type="submit" class="button" tabindex="22" disabled="disabled" value="{{t "signup.button" }}" />
            <p class="notice">{{t "signup.notice" }}</p>
        </form>
        <div class="close-box">
            <div class="close"><span class="pseudo-link">{{t "topbox.cancel" }}</span></div>
        </div>
    </div>
</div>

