<h1>{{t "settings.title"}}</h1>
<div class="user-settings">
<fieldset>
    <legend>{{t "settings.playback" }}</legend>
</fieldset>
<ul class="checkbox-shift">
    {{!<li>{{setting "throttle_traffic"}</li>}}
    <li>{{setting "limit_night_volume"}}</li>
    <li>{{setting "fading_sound"}}</li>
    <li>{{setting "spectrum"}}</li>
</ul>

<div class="close"></div>
