<form class="head-form signup" data-title="{{t "signup.title" }}">
    <div class="form-input">
        <input type="text" tabindex="20" class="input" name="email" placeholder="{{t "signup.placeholder.email" }}" />
    </div>
    <div class="form-input">
        <input type="password" tabindex="21" class="input" name="password" placeholder="{{t "signup.placeholder.password" }}" />
    </div>
    <input type="submit" class="button" tabindex="22" disabled="disabled" value="{{t "signup.button" }}" />
    <p class="notice">{{t "signup.notice" }}</p>
</form>
