<img src="{{user_gravatar_url user}}" width="50" height="50" alt="" class="avatar" />
<div class="content">
    <p>{{#if user.name}}{{user.name}}{{else}}{{user.email}}{{/if}}</p>
    <ul>
        <li class="favorites"><a href="#" class="link">{{t "user.favorites" }}</a></li>
        <li class="settings"><a href="#" class="link">{{t "user.settings" }}</a></li>
    </ul>
</div>
<div class="logout"></div>