<tr class="favorite{{#unless favorite}} deleted{{/unless}}" data-ts="{{ created_at }}" data-cid="{{ cid }}">
    <td class="state">{{time created_at}}</td>
    <td class="content">
        <h2 class="favorite-title">{{ track.title }}</h2>
        {{! в данные прокидываем заголовок, что-бы плееру (App.Radio) по эвенту не грузить заголовок отдельно }}
        <h3>@ <span class="pseudo-link station" data-id="{{ station.id }}" data-title="{{ station.title }}">{{ station.title }}</span></h3>
    </td>
    <td class="buttons">
        <span class="vk" href="http://vk.com/search?c[q]={{escape_uri_comp track.title}}&c[section]=audio" target="_blank">&middot;</span>
        <span class="google" href="http://www.google.com/search?q={{escape_uri_comp track.title}}" target="_blank">&middot;</span>
        <span class="lastfm" href="http://www.lastfm.ru/search?q={{escape_uri_comp track.title}}&type=track" target="_blank">&middot;</span>
    </td>
</tr>