<div class="form-input">
    <input type="text" tabindex="10" class="input" name="login"
           placeholder="{{t "login.placeholder.login" }}"/>
    <a href="{{link "signup"}}">{{t "signup.link" }}</a>
</div>
<div class="form-input">
    <input type="password" tabindex="11" class="input" name="password"
           placeholder="{{t "login.placeholder.password" }}"/>
    <a href="{{link "amnesia"}}">{{t "amnesia.link" }}</a>
</div>
<input type="submit" class="button" disabled="disabled" tabindex="12" value="{{t "login.button" }}"/>
<p class="notice"></p>
