<h1>{{t "settings.title"}}</h1>
<div class="user-settings">
<fieldset>
    <legend>{{t "settings.playback" }}</legend>
</fieldset>
<ul class="checkbox-shift">
    <li>
        {{setting "throttle_traffic"}}
    </li>
    <li>
        {{setting "limit_night_volume"}}
    </li>
    <li>
        {{setting "fading_sound"}}
    </li>
</ul>

<fieldset>
    <legend>{{t "settings.personal_info.title"}}</legend>
</fieldset>
<ul>
    <li>
        {{t "settings.personal_info.email"}}: <strong>{{ email }}</strong>
    </li>
    <li>
        {{t "settings.personal_info.display_name"}}:
        <input type="text" class="name" value="{{ name }}" maxlength="30" autocomplete="off" />
    </li>
</ul>
</div>
<div class="close"></div>
