<form class="head-form register" data-title="{{t "register.title" }}">
<div class="form-input">
    <input type="text" tabindex="20" class="input" name="email" placeholder="{{t "register.placeholder.email" }}" />
</div>
<div class="form-input">
    <input type="password" tabindex="21" class="input" name="password" placeholder="{{t "register.placeholder.password" }}" />
</div>
<input type="submit" tabindex="22" value="{{t "register.button" }}" />
<div class="notice">
    <p>{{t "register.notice" }}</p>
</div>
</form>