<tr class="favorite{{#unless favorite}} deleted{{/unless}}" data-ts="{{ created_at }}" data-cid="{{ cid }}">
    <td class="state">{{time created_at}}</td>
    <td class="content">
        <h2>{{ track.title }}</h2>
        {{! в данные прокидываем заголовок, что-бы плееру (App.Radio) по эвенту не грузить заголовок отдельно }}
        <h3>@ <span class="pseudo-link station" data-id="{{ station.id }}" data-title="{{ station.title }}">{{ station.title }}</span></h3>
    </td>
    <td>
        <!-- buttons -->
    </td>
</tr>