<img src="{{#if avatar_url}} {{avatar_url}} {{else}} {{user_gravatar_url this "50"}} {{/if}}" width="50" height="50" alt="" class="avatar" />
<div class="content">
    <p>{{#if name}}{{name}}{{else}}{{email}}{{/if}}</p>
    <ul>
        <li class="favorites"><a href="/user/favorites"><i class="icon"></i>{{t "user.favorites" }}</a></li>
        <li class="settings"><a href="/user/settings"><i class="icon"></i>{{t "user.settings" }}</a></li>
    </ul>
</div>
<div class="logout"></div>