<tr class="favorite{{#unless favorite}} deleted{{/unless}}" data-ts="{{ created_at }}" data-cid="{{ cid }}">
    <td class="state">{{time created_at}}</td>
    <td class="content">
        <h2>{{ track.title }}</h2>
        <h3>@ <a href="{{link "station"}}/{{ station.id }}">{{ station.title }}</a></h3>
    </td>
    <td>
        <!-- buttons -->
    </td>
</tr>